<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div class="alert alert-danger" role="alert">
                        Anda tidak dibenarkan untuk akses ke laman ini, sila berhubung pihak admin untuk tindakan selanjutnya.
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>URL Tidak Wujud</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Maaf, URL ini tidak wujud.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

